
<span align="center">

	<div class="page">
		
	  {% if pageinfo.prevUrl %}
	  
	      <a href="{{pageinfo.prevUrl}}"><i class="fas fa-arrow-left"></i></a>
	     
	  
	  {% endif %}
	  
	  {% if pageinfo.nextUrl %}
	  
	      <a href="{{pageinfo.nextUrl}}"><i class="fas fa-arrow-right"></i></a>
	  
	  
	  {% endif %}
	  
	</div>

</span>